.mb-chat-body {
    overflow: auto;
    height: 80vh;
    width: 90vw;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 3px;
    background-color: lightslategray;
    padding: 5px;
}

.mb-chat-input-container {
    display: flex;
    width: 94vw;
    background-color: lightslategray;
}

.mb-chat-input {
    height: 5vh;
    width: 70vw;
    border: 2px solid black;
    color: black;
    margin-top: 3px;
    background-color: lightslategray;
    caret-color: black;
    padding: 5px;
    text-align: left;
    overflow-y: auto;
}

.mb-chat-send {
    /* margin-left: 10%; */
    width: 20vw;
    align-content: center;
    color: black;
    background-color: lightgreen;
}

/* 定义旋转动画 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 容器样式 */
.mb-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 旋转图标样式 */
.mb-spinner {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; /* 设置顶部边框颜色 */
  border-radius: 50%; /* 使元素变成圆形 */
  animation: spin 1s linear infinite; /* 应用旋转动画 */
}

.mb-message-container {
  margin-top: 10px;
}

.mb-message-box-left {
    justify-content: flex-start;
    display: flex;
}

.mb-message-box-right {
    /* border: 2px solid black; */
    /* background-color: lightgreen; */
    justify-content: flex-end;
    display: flex;
}

.mb-message-content {
    padding: 10px;
    background-color: lightgreen;
    border: 1px solid gray;
    color: black;
}

.mb-room-members-container {
  display: none;
  width: 20vw;
  border: 2px solid black;
  margin-right: 10px;
  background-color: white;
}

.mb-room-member {
  display: flex;
  margin-top: 5px;
  color: black;
}

.mb-parent {
  display: flex;
  justify-content: center;
}

.mb-chat-header {
    display: flex;
    justify-content: center;
}

.mb-circle-button {
  background-color: white; /* 按钮背景颜色 */
  border: 1px solid gray;
  color: gray;
  padding: 20px; /* 圆的大小 */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px; /* 加号大小 */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%; /* 使按钮形状为圆形 */
  width: 50px; /* 设置按钮宽度 */
  height: 50px; /* 设置按钮高度 */
  position: relative; /* 为子元素的位置定位提供基础 */
}

.mb-plus {
  position: absolute; /* 相对于父元素定位 */
  top: 40%; /* 中心对齐 */
  left: 50%; /* 中心对齐 */
  transform: translate(-50%, -50%); /* 准确居中 */
  font-size: 60px; /* 加号大小 */
  font-weight: bold; /* 加号加粗 */
}