.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.fullscreen img {
  max-width: 90%;
  max-height: 90%;
}

.thumbnail {
  max-width: 100px; /* 限制缩略图的最大宽度 */
  max-height: 100px; /* 限制缩略图的最大高度 */
  cursor: pointer;
}
